<html>
<script>
    function formsubmitted(e) {
        e.preventDefault();
        console.log('called');
    }
</script>

<body>
    <header>
        <h1>Enter your New Password</h1>
    </header>
    <form action="/updatepassword/${id}" method="get">
        <label for="newpassword">Enter New Password</label>
        <input name="newpassword" type="password" required></input><br><br>
        <button>Reset Password</button>
    </form>
</body>

</html>


<!DOCTYPE html>
<html>
    <style>
        #forgot-button{
            margin-top: 10px;
        }
        body{
                background-image: url('pg.jpg'); 
                background-repeat:no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
    </style>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script>
        function formsubmitted(e) {
            e.preventDefault();
            console.log('called');
        }
    </script>
    <body>
        <div class="container">
            <div id="ui">
                <h1 class="text-center"><b>Enter your New Password</b></h1>
                <div class="col-lg-6 col-lg-offset-3">
                    <form action="/updatepassword/${id}" method="get">
                        <div class="row">
                            <label>Enter New Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <div class="row">
                            <input type="submit" name="button" id="forgot-password" value="Reset Password" class="btn btn-primary btn-block btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    </body>
</html>